* {
  margin: 0%;
  box-sizing: border-box;
  padding: 0%;
}
.header {
  background-image: url("images/HeroImage.png");
  width: 1440px;
  height: 733px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tools {
}
